<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>
</head>
<body>
<h1>ABOUT US</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi consequatur incidunt iste laboriosam libero magni minima minus mollitia, neque nihil pariatur provident quaerat quam qui repudiandae sit vitae voluptas.</p>





</body>
</html>