<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>


<h1>Welcome to homepage</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda aut consectetur dolore dolores excepturi in ipsa maiores, maxime minus pariatur possimus quia reprehenderit sint tenetur voluptate voluptatum? Ipsam, omnis.</span><span>Amet aperiam atque blanditiis commodi dolor doloremque, ea earum eligendi error esse est eum excepturi expedita, hic ipsum modi nihil nobis non repellat sequi sit tempore ullam ut vel vitae!</span><span>Aliquid asperiores assumenda autem beatae, blanditiis consectetur consequatur consequuntur corporis culpa distinctio ea earum eius enim id in iusto laudantium modi nesciunt officia possimus quae reiciendis rem repellat repellendus similique.</span></p>




</body>
</html>